<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>Welcome <br> Today is <%= kindOfDay %></h1>
    </div>
   
<div class="box">   
        <% for( var i = 0 ; i<newItems.length; i++) { %> 
            <!-- these tags are used to add flow control loops in the code -->
         <div class="item"> 
             <input type="checkbox" >
             <p><%= newItems [i] %></p>
        </div>
            
  
        <% } %> 
        <!-- they should be added to every line of code which is not html -->
   

        <form action="/" method="post" class="item">

            <input type="text" name="newItem" class="" placeholder="Type New Item Here" autocomplete="off">
        
            <button type="submit" class="button">+</button>
        
        </form>
</div>
   

<footer>Made by Smit Mehta</footer>
</body> 
</html>